.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 4px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}

.container .filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: relative;
    right: 0px;
    top: 10px;
}

.container .filters button:hover {
    opacity: 90%;
}

.container .filters .locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container .filters .amenities {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 400;
    font-size: 14px;
}

ul {
    list-style-type: none;
}

.drop-items {
    width: 100%;
    display: flex;
    gap: 5px;
}

.drop-items .popover {
    display: none;
    width: 205px;
    padding: 22px;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD; 
    border-radius: 4px;
}

.popover li ul li{
    padding-left: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 360px) and (max-width: 600px) {
    .container .filters {
        padding-right: 10px;
    }

    .container .filters .locations {
        height: 100%;
        width: 35%;
    }
    
    .container .filters .amenities {
        height: 100%;
        width: 35%;
    }

    .container .filters button {
        max-width: 100%;
    }

    .drop-items {
        width: 70%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px){
    .container .filters {
        padding-right: 10px;
    }

    .container .filters .locations {
        height: 100%;
        width: 35%;
    }
    
    .container .filters .amenities {
        height: 100%;
        width: 35%;
    }

    .container .filters button {
        max-width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .container .filters {
        padding-right: 10px;
    }

    .container .filters .locations {
        height: 100%;
        width: 35%;
    }
    
    .container .filters .amenities {
        height: 100%;
        width: 35%;
    }

    .container .filters button {
        max-width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)  and (max-width: 1200px){
    .container .filters {
        padding-right: 10px;
    }

    .container .filters .locations {
        height: 100%;
        width: 35%;
    }
    
    .container .filters .amenities {
        height: 100%;
        width: 35%;
    }

    .container .filters button {
        max-width: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container .filters .locations {
        height: 100%;
        width: 25%;
    }
    
    .container .filters .amenities {
        height: 100%;
        width: 25%;
    }
}