.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 4px;
    padding-right: 30px;
    position: relative;
}

.container .filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    position: relative;
    right: 0px;
    top: 10px;
}

.container .filters button:hover {
    opacity: 90%;
}

.container .filters .locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    float: left;
}

.container .filters .amenities {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    float: left;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 400;
    font-size: 14px;
}

ul {
    list-style-type: none;
}

.popover{
    display: none;
    position: absolute;
    top: 70px;
    width: 205px;
    padding: 22px;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD; 
    border-radius: 4px;
}

.popover li ul li{
    padding-left: 10px;
}